* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    color: #444;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    max-width: 100%;
    overflow-x: hidden;
}

hr {
    margin: 0
}

.section_hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.sticky-top {
    background-color: white;
    opacity: 0.8;
}

.modal-header {
    border: none;
}

a:hover {
    color: inherit;
}

a.landing_link:hover {
    color: #5ec576;
}

.section_heading {
    padding-top: 10rem;
    color: #5ec576;
    font-size: 18px;
    font-weight: 600;
}

.section_para {
    font-weight: 900;
    font-size: 2.3rem;
}

.cookies_msg {
    background-color: white;
    width: 60%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 5%;
    transition: display 0.7s;
}

.cookies_btn {
    box-shadow: none;
    outline: none;
    border: none;
    background-color: #5ec576;
    width: 12%;
    border-radius: 25px;
    margin-left: 2%;

}

.cookies_btn:active,
.cookies_btn:hover,
.cookies_btn:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

/************** Navbar   ****************/

.logo {
    width: 150px;
}

.navbar {
    box-shadow: none;
    padding-top: 18px;
    transition: all 0.8s;
}

.nav_options {
    color: #444;
    margin-right: 2.2rem;
    font-size: 17px;
}

.nav_btn {
    background-color: #5ec576;
    color: #444;
    border-radius: 30px;
    text-align: center;
    font-size: 17px;
    width: 170px;
    height: 46px;

}



/***************** Modaal****************/
.modal-title {
    font-weight: 600;
    font-size: 1.9rem;
    padding-left: 40px;
    padding-top: 2.5rem;
}

.inp_text {
    padding-left: 3.5rem;
    font-size: 18px;
}

.inp_field {
    height: 40px;
    width: 13rem;
    border-radius: 7px;
    padding-left: 10px;
}

.mod_in {
    margin-bottom: 20px;
}

.mod_in input {
    outline: none;
    border: 1px solid rgb(224, 219, 219);
    background-color: white;
}

.modal-content {
    background-color: #f3f3f3;
}

.modal_btn {
    font-size: 18px;
    padding: 0.8rem 2rem;
    background-color: #5ec576;
    border-radius: 35px;

}

.modalbutton {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}


/******************** Landing Page ******************/
.landing_page {
    padding-bottom: 22rem;
}

.landing_heading {
    font-weight: 900;
    font-size: 3.5rem;
}

.landing_para {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}

.landing_link {
    color: #5ec576;
    font-size: 18px;
    border-bottom: 1px solid #5ec576;
}

.landing_left {
    padding-left: 5rem;
    margin-top: 13rem;

}

.landing_right {
    padding-right: 7rem;
    margin-top: 9.5rem;
}

.highlight {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    display: inline-block;
    transform: skew(-16deg);
    text-align: center;
    color: rgb(0, 0, 0);
    opacity: 0.7;

}

.hl1 {
    width: 250px;
}

.hl2 {
    width: 320px;
}



/******************* Features Section   **********************/
.features {
    padding-bottom: 10rem;
    transition: all 0.9s;
}



.features p {
    align-self: center;
    justify-self: center;
    width: 70%;
    opacity: 0.7;
}

.features img {
    width: 100%;

}

.blur_img {
    filter: blur(1rem);
}

.features h5 {
    font-weight: 900;
    margin-bottom: 16px;
}

.features_circle {
    width: 55px;
    height: 55px;
    background-color: #5ec576;
    opacity: 0.3;
    border-radius: 50px;
    margin-bottom: 20px;
}

.r1 {
    margin-top: 8rem;
}

.r2,
.r3 {
    margin-top: 4rem;
}

.features .container {
    padding-left: 4rem;
    padding-right: 4rem;
}

/******************* Operations Section *******************/
.operations {
    padding-bottom: 10rem;
    transition: all 0.9s;
}

.operations_btn {
    /* height: 140px; */
    color: black;
    padding: 14px 52px;
    border-radius: 25px;
    text-align: center;
    position: relative;
    top: 10px;
    z-index: 1;
    font-weight: 600;
    transition: all 0.3s;
}

.transfer_btn {
    background-color: #ffcb03;
    margin-right: 1.6rem;
}

.loan_btn {
    background-color: #5ec576;
}

.close_btn {
    background-color: #ff585f;
    margin-left: 1.6rem;
}

.operations_tab {
    margin-top: 6rem;
}

.tab_content {

    background-color: white;
    text-align: left;

}

.transfer_circle,
.loan_circle,
.close_circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    opacity: 0.2;
    position: absolute;
    left: 4rem;
    top: 5rem;
}

.transfer_circle {
    background-color: #ffcb03;
}

.loan_circle {
    background-color: #5ec576;
}

.close_circle {
    background-color: #ff585f;
}

.operations_val h4 {
    padding: 2rem 8.9rem;
    margin-top: 4.5rem;
    font-weight: 600;

}

.operations_val p {
    padding: 0 9rem;
    margin-bottom: 5rem;
    opacity: 0.7;
    color: #000;
    font-size: 17px;
    text-align: justify;

}

.hidden {
    display: none;
}

.active {
    top: 0.5px;
}



/****************** testimonials Section ******************/
img.yes {
    width: 900px;
    height: 400px;
}

.slider {
    position: relative;
    max-width: 60%;
    height: 50rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    /* height: 50rem; */
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 6rem;
    transition: all 0.8s;
}

.slide_head {
    color: black;
    opacity: 0.8;
    font-size: 23px;
    margin-bottom: 16px;
    font-weight: 550;
}

.slide_para {
    opacity: 0.8;
    line-height: 2
}

.user_name {
    font-size: 17px;
    padding-left: 25px;
    margin-top: 16px;
}

.user_address {
    opacity: 0.7;
    padding-left: 25px;
    font-size: 14px;
}

.slide_img {
    width: 60px;
    height: 60px;
    margin-top: 16px;
    margin-left: 50px;
}

.slide::before {
    content: '\201C';
    font-size: 11rem;
    position: absolute;
    font-weight: lighter;

    left: 0rem;
    top: 0;
    color: #5ec576;
}

.arrow {
    box-shadow: none;
    outline: none;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: all 0.7s;
    font-size: 25px;

}

.arrow:focus,
.arrow:active {
    outline: none;
    border: none;


}

.arrow:active {
    width: 40px;
    height: 40px;
}

#testimonials {
    position: relative;
    transition: all 0.7s;
}

.left_arrow {
    position: absolute;
    left: 8rem;
    top: 50%;
    z-index: 100;
}

.right_arrow {
    position: absolute;
    right: 8rem;
    top: 50%;
    z-index: 100;
}


.dots {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(110, 108, 108);

    opacity: 0.3;
}

.dot_0 {
    margin-right: 18px;
}

.dot_2 {
    margin-left: 18px;
}

.dot_active {
    opacity: 1;
}

.dots_container {
    width: 100%;
    position: absolute;
    top: 75%;

}

/******************************* Footer *************************/

footer {
    width: 100%;
    overflow: hidden;
    background-color: #37383d;
    /* margin-top: 40rem; */
    transition: all 0.9s;
}

footer .section_para {
    color: white;
    font-weight: normal;
    margin-top: 4rem;
    word-spacing: 3px;
    margin-left: 16px;
}

.footer_btn {
    background-color: #5ec576;
    color: black;
    padding: 16px 50px;
    border-radius: 35px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin: 4rem 5rem;
}

.footer_btn:active,
.footer_btn:focus {
    border: none;
    outline: none;
}

.footer_navs a {
    color: white;
    margin-right: 50px;
    font-size: 14px;
    font-weight: lighter;

}

.footer_navs a:hover {
    color: rgb(148, 142, 142);
}

footer hr {
    margin-bottom: 5rem;

}

.footer_img {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.copyright {
    color: white;
    font-weight: light;
    font-size: 13px;
    padding-bottom: 4rem;
}



/******** Extra  **********/
.nav_btn,
.cookies_btn,
.footer_btn,
.loan_btn,
.modal_btn {
    transition: all 0.7s;
}

.nav_btn:hover,
.cookies_btn:hover,
.footer_btn:hover,
.loan_btn:hover,
.modal_btn:hover {
    background-color: #74e48e;
    transform: scaleY(95%);

}

.transfer_btn:hover {
    background-color: #ffdb4d;
    transform: scaleY(95%);
}


.close_btn:hover {
    background-color: #ff797f;
    transform: scaleY(95%);
}